{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><b>Dashboard: Crowd Count</b></h1>

        <!--This controls the bottons in the top right-->
    </div>

    <!--The next line controls the dimensions of the plot-->
    <canvas class="my-4 w-100" id="myChart" width="1000" height="250"></canvas>

    <!-- This next chunck controls the table section of the page-->
    <h1><b>Summary Statistics</b></h1>
    <hr>
    <h2><b>Name:</b> {{ company.name }} </h2>
    <h2><b>Address:</b> {{ company.address }}, {{ company.zip }} </h2>
    <h2><b>Approximate Number of People:</b> {{ company.currentPopulation }} </h2>

</main>

<!--=======================================Javascript Stuff===========================-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/static/assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/static/js/dashboard.js"></script>
<script>
drawChart({{ averages }})
</script>
{% endblock %}
