<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/starter-template.css" rel="stylesheet">

<!-- Search Bar styling -->
<link href="static/css/search.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />


<style>
  .bd-placeholder-img {
  font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
    }
</style>
