{% extends "base.html" %}

{% block content %}

<div class="image-aboutus-banner"style="margin-top:70px">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="lg-text" style = "font-size: 5rem"><center><b>About</b></center></h1>
            <p class="image-aboutus-para" style="font-size: 20px">CrowdCount is a brand-new project created for the <a href = "http://www.covidhealthhack.com">
            COVID Hackathon II hosted by the Stevens Venture Center. </a>This site utilizes computer vision to track the number of people entering/exiting an establishment and updates a counter in real-time, allowing for both business owners and the general public to get a live feed of how busy a location is.</p>
          </div>
      </div>
  </div>
</div>

<div class="container paddingTB60">
  <div class="row">


        <div class="col-lg-8">
          <h2><b>Uses/Applications</b></h2>
    <hr>
            <p>
              &emsp; &emsp; Once it's safe for businesses and schools to start to re-open, monitoring and controlling crowd sizes will be imperative for mitigating the thread of resurgences of COVID-19. CrowdCount addresses this need by providing a platform that allows everyone to quickly see how crowded a particular location is. Using computer vision software, this program counts the number of people who enter/exit an establishment and publishes a live count to this site. At-a-glance, users can see the approximate number of people in a public location and determine how safe it is to head there. <br>

              &emsp; &emsp; This program is not only useful for consumers, but is also invaluable for business owners and school administrators who need to make sure that their public spaces stay as safe as possible for everyone.
            </p>
            <br>

            <h2><b>Development Process</b></h2>
            <hr>
            <p>
              &emsp; &emsp; Over the course of 9 days, our team developed this project from scratch, beginning with simple, open-soure HTML templates and computer vision algorithms. Since our team members are completely spread out across the U.S., we used GitHub as our primary workspace.
            </p>
            <br>

            <h2><b>Future Plans</b></h2>
            <hr>
            <p>
              &emsp; &emsp; Though we're extremely proud of the work we've done, we understand that this website, in its current state, is only the beginning of adjusting to life after COVID-19. In regards to next steps for this particular project, we hope to optimize this program for specific university buildings -- if universities can carefully monitor the number of people in a lecture hall/library, it will hopefully result in students returning to campus sooner rather than later.
            </p>
            <br>
            <br>
            <br>

        </div>

        <!--========================= Blog Sidebar Widgets Column ======================-->
        <div class="col-md-4">
            <!-- Blog Categories Well -->
            <div class="well">
                <h4 style="font-size: 2rem"><b>Creators</b></h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href= "mailto: jmp2291@columbia.edu">Jordan Phillips</a>
                            </li>
                            <li><a href= "mailto: sg3789@columbia.edu">Shomik Ghose</a>
                            </li>
                            <li><a href= "mailto: alt2177@columbia.edu">Austin Tao</a>
                            </li>
                        </ul>
                    </div>
            </div>

        <!-- ================Subsection on the bottom right===================== -->
        <div class="well bgcolor-skyblue">
          <h4 style="font-size: 2rem"><b>GitHub Repo</b></h4>
            <p>[This can be any subsection -- I just put GitHub Repo as a placeholder]</p>
        </div>

          </div>

      </div>
  </div>

</div>

<!--======================================== Javascript Stuff============================-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>


{% endblock %}
